# system files
.DS_Store
Thumbs.db

# vscode
.vscode

# r
/renv

# web dev
/node_modules

# quarto
/.quarto/

# raw data isn't version controlled for privacy reasons
# (even though it's deidentified)
/data/survey-responses-translated.xlsx
